header {

  display: flex !important;
  align-items: center;
  //padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 30, 0.25);
  height: 80px;

  backdrop-filter: blur(40px);
  z-index: 100;

  >div {
    margin: 0 auto;
    width: 80%;

    >img {
      transition: all 0.2s ease-in-out;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  header>div {
    width: 100% !important;
  }
}